html{
    --color-primary: #00D0D8;
    --color-secondry: #E9ECEF;
    --color-third: #02b8bf;
    --color-darkgreen: #0B3A42;
    --color-red: #ef233e;
    --bg-page: #fff;
    --color-title: #000;
    --text-primary: #000;
    --text-secondry: #747576;
    
}