.dashboard_page {
  padding: 10rem 1.5rem;
  position: relative;
  width: 100%;

  @media screen and (max-width: 575.98px) {
    padding: 10rem 0;
  }

  .dashboard_menu {
    background-color: #fff;
    border: 1px solid var(--color-darkgreen);
    border-radius: rem(10);
    padding: rem(30) rem(15);
    min-height: 80vh;
    margin-bottom: rem(30);

    @media screen and (max-width: 991.98px) {
      min-height: auto;
    }

    .header_menu {
      display: flex;
      align-items: center;
      position: relative;
      border-bottom: 1px solid var(--color-secondry);
      padding-bottom: rem(15);

      .avatar {
        width: rem(60);
        height: rem(60);
        border-radius: 50%;
        background-image: linear-gradient(320deg, var(--color-primary), var(--color-darkgreen));
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: rem(15);

        img {
          max-width: 3rem;
        }
      }

      .user_name {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .name {
          font-family: "vazir-bold";
          font-size: 15px;
        }

        .wellcome_text {
          font-size: 14px;
          color: var(--text-secondry);
        }
      }
    }

    .body {
      padding-top: rem(40);

      .dashboard_list {
        width: 100%;
        list-style-type: none;

        .li_list {
          margin-bottom: rem(30);

          &:last-child {
            margin-bottom: 0;
          }

          .a_list {
            display: flex;
            align-items: center;

            .icon {
              width: rem(18);
              height: rem(18);
              border-radius: 50%;
              background-color: #def9f6;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: rem(10);

              img {
                width: rem(22);
              }
            }

            span {
              font-family: "vazir-bold";
              font-size: 15px;
              color: #000;

              @media screen and (max-width: 767.98px) {
                font-size: 14px;
              }
            }

            .new_msg {
              padding: 0 rem(10);
              height: rem(26);
              text-align: center;
              background-color: var(--color-primary);
              color: #fff;
              font-family: "vazir-bold";
              font-size: 12px;
              margin-right: rem(5);
              border-radius: rem(13);
              line-height: rem(26);
            }
          }

          .active {
            .icon {
              background-color: var(--color-primary);
            }

            span {
              border-bottom: 1px solid var(--color-primary);
            }
          }
        }
      }
    }
  }

  .dashboard_content {
    background-color: #fff;
    border: 1px solid var(--color-darkgreen);
    border-radius: rem(10);
    padding: rem(30) rem(40);
    min-height: 80vh;

    @media screen and (max-width: 991.98px) {
      min-height: auto;
    }

    @media screen and (max-width: 767.98px) {
      padding: rem(30) rem(15);
    }

    .header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color-secondry);
      padding-bottom: rem(10);

      p {
        font-family: "vazir-bold";
        color: var(--text-secondry);

        @media screen and (max-width: 767.98px) {
          font-size: 12px;
        }
      }
    }

    .body {
      padding-top: rem(30);

      .title_section {
        position: relative;
        margin-bottom: 1rem;

        span {
          display: flex;
          align-items: center;
          font-family: "vazir-bold";

          &::before {
            content: url(../images/icons/Iconly-Bulk-Arrow-Left-Square.svg);
            padding-top: rem(5);
            margin-left: rem(5);
          }
        }
      }

      .content_section {
        padding: 0 rem(25);

        @media screen and (max-width: 575.98px) {
          padding: 0;
        }
      }

      .message_section {
        padding-bottom: rem(20);

        .msg_box {
          position: relative;
          background-color: var(--color-secondry);
          border-radius: rem(10);
          padding: rem(20) rem(15) rem(10);
          margin-bottom: rem(20);

          .msg_items {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 575.98px) {
              align-items: flex-start;
            }

            .msg {
              display: flex;
              align-items: flex-start;

              .circle {
                position: relative;
                top: 2px;
                display: block;
                width: rem(16);
                height: rem(16);
                border-radius: 50%;
                margin-left: rem(5);

                @media screen and (max-width: 767.98px) {
                  width: rem(8);
                  height: rem(8);
                }

                @media screen and (max-width: 575.98px) {
                  top: 0.5rem;
                }
              }

              .text {
                font-family: "vazir-bold";
                color: var(--text-secondry);

                @media screen and (max-width: 767.98px) {
                  font-size: 12px;
                }

                @media screen and (max-width: 575.98px) {
                  width: 95%;
                }

                .product_name {
                  color: var(--color-darkgreen);
                  text-decoration: underline !important;
                }
              }
            }

            .delete {
              background-color: var(--color-secondry);
              border: unset;

              img {
                max-width: 100%;
              }

              @media screen and (max-width: 575.98px) {
                position: absolute;
                bottom: rem(10);
                right: rem(15);
              }
            }
          }

          .msg_date {
            direction: ltr;
            display: flex;
            align-items: center;
            margin-top: rem(5);

            span {
              font-size: 12px;
              color: var(--text-secondry);
            }

            .clock {
              margin: 0 rem(10);
            }

            img {
              width: rem(16);
            }
          }
        }
      }

      .last_orders_section {
        .last_orders_table {
          background-color: var(--color-secondry);
          padding: rem(15) rem(30);
          border-radius: rem(10);

          @media screen and (max-width: 767.98px) {
            overflow-x: auto;
            padding: rem(15);

            &::-webkit-scrollbar {
              width: 5px !important;
              height: 2px;
            }

            &::-webkit-scrollbar-track {
              background: #fff;
            }

            &::-webkit-scrollbar-thumb {
              background: #ccc;
            }
          }

          .ul_last_orders {
            width: 100%;
            position: relative;

            @media screen and (max-width: 767.98px) {
              width: rem(620);
            }

            .li_last_orders {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .li_items {
                width: 25%;
                text-align: center;
              }
            }

            .li_title {
              border-bottom: 1px solid #c9c9c9;
              padding-bottom: rem(5);
              margin-bottom: rem(15);

              .title {
                font-family: "vazir-bold";
                font-size: 13px;
              }
            }
          }

          .li_content {
            margin-bottom: rem(25);

            &:last-child {
              margin-bottom: rem(10);
            }

            .li_items {
              font-size: 13px;
              color: var(--text-secondry);
            }

            .order_code {
              font-family: "roboto_regular";
            }

            .order_status {
              width: rem(100);
              height: rem(28);
              line-height: rem(28);
              border-radius: rem(14);
              color: #fff;
              margin: 0 auto;
              display: block;
            }

            .show_details {
              @extend .order_status;
              background-color: var(--color-darkgreen);
              width: rem(120);
            }
          }
        }
      }

      .change_info_section {
        .form_item {
          margin-bottom: rem(20);

          label {
            width: 100%;
            margin-bottom: rem(5);
          }

          .form_input {
            width: 100%;
            height: rem(40);
            border-radius: rem(10);
            background: #dee2e6;
            border: unset;
            padding: 0 rem(15);

            &::placeholder {
              font-size: 13px;
              color: var(--text-secondry);
            }
          }

          textarea {
            height: rem(120) !important;
            resize: unset;
            padding-top: rem(10) !important;
          }
        }

        .form_btn {
          width: 15rem;
          height: 2.5rem;
          margin-top: 2rem;
          text-align: center;
          line-height: 2.5rem;
          color: #fff;
          background: var(--color-darkgreen);
          border: unset;
          border-radius: rem(8);
        }
      }

      .change_notification_method {
        margin-top: rem(40);

        .check_change_notification_method {
          .title {
            font-size: 13px;
            color: var(--text-secondry);
            margin-bottom: rem(10);
          }

          .check_box {
            display: flex;
            align-items: center;

            .check_item {
              position: relative;
              display: flex;
              align-items: center;
              margin-left: rem(20);

              input {
                margin-left: rem(5);
                width: rem(18);
                height: rem(18);
                border-color: var(--color-darkgreen);
              }

              label {
                font-size: 13px;
                color: var(--text-secondry);
                margin-right: rem(25);
              }

              .label_check {
                cursor: pointer;

                &::before {
                  content: "";
                  width: 16px;
                  height: 16px;
                  border: 1px solid var(--color-darkgreen);
                  border-radius: rem(4);
                  position: absolute;
                  right: 0;
                  top: 2px;
                }

                &::after {
                  content: "";
                  width: 12px;
                  height: 12px;
                  border-radius: rem(4);
                  position: absolute;
                  right: 2px;
                  top: 4px;
                  background-color: transparent;
                }
              }

              .active_check {
                &::after {
                  content: "";
                  background: var(--color-darkgreen);
                }
              }
            }
          }
        }
      }

      .detail_order_box {
        background-color: var(--color-secondry);
        padding: rem(30) rem(15);
        border-radius: rem(10);
        margin-bottom: rem(30);

        .detail_order_item {
          margin-bottom: rem(15);
          font-size: 13px;

          .title {
            color: var(--text-secondry);
          }

          .font-roboto {
            font-family: "roboto_regular";
          }

          .order_status {
            padding: 0 rem(5);
            text-align: center;
            color: #fff;
            border-radius: rem(8);
          }
        }
      }

      .total_orders_box {
        @extend .detail_order_box;
        padding: rem(10) rem(10) rem(20);
        min-height: rem(185);

        .header_box {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fec99a41;
          border: 1px solid #fec89a;
          border-radius: rem(10);
          color: var(--color-orange);
          font-size: 11px;
          padding: rem(3) 0;
          margin-bottom: rem(15);

          img {
            width: rem(16);
            margin-left: rem(5);
          }
        }

        .total_body {
          .total_item {
            display: flex;
            justify-content: space-between;
            margin-bottom: rem(10);
            font-size: 13px;

            .title {
              color: var(--text-secondry);
              font-size: 12px;
            }

            .red_color {
              color: var(--color-red);
            }

            &:last-child {
              margin-bottom: unset;
            }
          }
        }
      }

      .detail_orders_table {
        background: var(--color-secondry);
        padding: rem(15);
        border-radius: rem(10);

        @media screen and (max-width: 1199px) {
          overflow-x: auto;

          &::-webkit-scrollbar {
            width: 5px !important;
            height: 2px;
          }

          &::-webkit-scrollbar-track {
            background: #fff;
          }

          &::-webkit-scrollbar-thumb {
            background: #ccc;
          }
        }

        .ul_list {
          width: 100%;

          @media screen and (max-width: 1199px) {
            width: rem(720);
          }

          .li_list {
            display: flex;
            margin-bottom: rem(15);

            &:last-child {
              margin-bottom: unset;
            }

            .item {
              width: 12%;
              font-size: 12px;
              text-align: center;
            }

            .product_name {
              width: 35%;
              text-align: right;
              margin-left: 5;
            }
          }

          .li_title {
            padding-bottom: rem(5);
            border-bottom: 1px solid #e4e4e4;
            color: var(--text-secondry);
            margin-bottom: rem(10);

            .product_name {
              text-align: center;
            }
          }
        }

        .red_color {
          color: var(--color-red);
        }
      }

      .filter_section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media screen and (max-width: 575.98px) {
          flex-direction: column;
          margin-bottom: rem(40);
        }
      }

      .search_orders {
        position: relative;
        margin-bottom: rem(30);

        #search_orders {
          width: rem(200);
          height: rem(40);
          border: 1px solid #ccc;
          border-radius: rem(10);
          padding-right: rem(30);
          padding-left: rem(5);

          &::placeholder {
            color: #ccc;
            font-size: 13px;
          }

          @media screen and (max-width: 575.98px) {
            width: rem(290);
          }
        }

        .search_btn {
          width: rem(26);
          height: rem(36);
          position: absolute;
          right: rem(4);
          top: rem(2);
          border-radius: rem(5);
          border: unset;
          background: #fff;

          img {
            width: rem(18);
          }
        }
      }

      .filter_by_date {
        position: relative;
        display: flex;
        align-items: center;

        .icon_date {
          position: absolute;
          right: rem(8);
        }

        #date_input {
          width: rem(160);
          height: rem(40);
          border: 1px solid #ccc;
          border-radius: rem(10);
          padding: rem(10);
          text-align: left;
          color: #ccc;
          cursor: pointer;
          z-index: 2;
          background-color: transparent;

          @media screen and (max-width: 575.98px) {
            width: rem(200);
          }
        }

        .filter_btn {
          width: rem(80);
          height: rem(40);
          border: unset;
          border-radius: rem(10);
          text-align: center;
          line-height: rem(40);
          background-color: var(--color-darkgreen);
          color: #fff;
          margin-right: rem(10);
        }
      }
    }
  }
}

.select2-container .select2-selection--single {
  height: rem(40) !important;
}

.select2-container--default .select2-selection--single {
  border: unset !important;
  border-radius: rem(10);
  background: #dee2e6;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--text-secondry) !important;
  font-size: 14px !important;
  line-height: rem(40) !important;
  padding-right: rem(15) !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 3px !important;
  top: 6px !important;
}

.select2-dropdown {
  border-color: #dee2e6;
}

.select2-container--open .select2-dropdown--below {
  height: rem(180) !important;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: unset;
  overflow: hidden;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #bdbdbd !important;
}

.select2-results__option {
  padding-right: rem(15);
}

.select2-search--dropdown {
  padding: rem(6) rem(15);
}

// style for date table

.datepicker-plot-area {
  font-family: Vazirmatn, sans-serif;
}

.datepicker-plot-area .datepicker-day-view .table-days td.selected span,
.datepicker-plot-area .datepicker-year-view .year-item.selected,
.datepicker-plot-area .datepicker-month-view .month-item .selected {
  background-color: var(--color-darkgreen);
}

.sign_up_form {
  .form_item {
    margin-bottom: rem(24);

    label {
      font-size: 13px;
      margin-bottom: rem(4);
      color: var(--text-secondry);
    }

    .form_input {
      width: 100%;
      background-color: var(--color-secondry);
      padding: 0.625rem 1rem;
      padding-left: 2rem;
      border-radius: 0.3125rem;
      border: 1px solid var(--color-secondry);
      resize: unset;

      &::placeholder {
        color: var(--color-secondry);
        font-size: 13px;
      }
    }

    button {
      border: unset;
      width: rem(150);
      height: rem(50);
      line-height: rem(50);
      border-radius: 0.3125rem;
      background: linear-gradient(90deg, #ff59a8, #be21f6);
      color: #fff;
      font-family: Vazirmatn, sans-serif;
      transition: all 300ms;
      text-align: center;
    }
  }
}

.login_card {
  width: 100%;
  margin: 3rem 0;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0px #ababab2f;

  .card_header {
    width: 100%;
    height: 6rem;
    display: flex;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;

    .btn_card {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 500ms;
      cursor: pointer;
      border-radius: 0 0.5rem 0 0;

      &:last-child {
        border-radius: 0.5rem 0 0 0;
      }

      &:hover {
        box-shadow: 0 0 60px 0px #ababab2f;
      }
    }

    .active {
      color: var(--color-primary);
      font-size: 17px;
      box-shadow: 0 0 60px 0px #ababab2f;
    }
  }

  .card_body {
    padding: 4rem 2rem;

    .login_form {
      width: 100%;

      .form_item {
        position: relative;
        width: 100%;
        margin-bottom: 1.25rem;

        label {
          color: #777;
        }

        .formInput {
          height: 3rem;

          &:focus {
            box-shadow: 0 0 0 0.2rem #00d0d83d;
          }
        }

        .pass {
          width: 3rem;
          height: 2.675rem;
          background-color: #fff;
          border-radius: 0.125rem;
          border: 0;
          position: absolute;
          left: 0.125rem;
          bottom: 0.125rem;

          img {
            width: 1.25rem;
            margin-top: 0.125rem;
          }
        }
      }

      .formBtn {
        width: 100%;
        height: 3rem;
        margin-top: 2rem;
        line-height: 3rem;
        background-color: var(--color-primary);
        border: 0;
        border-radius: 0.25rem;
        text-align: center;
        font-size: 15px;
        color: var(--color-darkgreen);
        transition: all 500ms;

        &:hover {
          box-shadow: 0 0 10px 0px #0b3a4259;
        }
      }
    }
  }

  .forgot_pass {
    display: inline-block;
    margin-top: 1.5rem;
    border-bottom: 1px solid var(--color-darkgreen);
    color: var(--color-darkgreen);
  }
}

.recoveryPassSection {
  .login_card {
    .card_header {
      display: block;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 17px;
        color: var(--color-darkgreen);
      }
    }
  }
}

.ticket_page {
  .ticket_page_content {
    .header {
      justify-content: space-between;

      @media screen and (max-width: 575.98px) {
        flex-direction: column;
      }

      .new_ticket_btn {
        width: 9rem;
        background: var(--color-primary);
        color: #fff;
        padding: 0.5rem 1rem;
        text-align: center;
        border-radius: 2rem;
        line-height: 1.75rem;
        transition: all 500ms;

        @media screen and (max-width: 575.98px) {
          width: 100%;
          margin-top: 1rem;
        }

        &:hover {
          box-shadow: 0 0 15px 0px #ccc;
        }
      }
    }

    .see_details_msg {
      position: relative;
      width: 5rem;
      width: 5rem;
      height: 2rem;
      line-height: 2rem;
      background: var(--color-darkgreen);
      color: #fff;
      font-size: 12px;
      border-radius: 2rem;

      &::before {
        content: url(../images/icons/eye-white.svg);
        display: inline-block;
        width: 12px;
        position: relative;
        top: 0.125rem;
        right: 0.625rem;
        margin-left: 0.975rem;
      }
    }

    .ticketBox {
      position: relative;
      margin-bottom: 5rem;

      .messageBx {
        position: relative;
        right: 3rem;
        width: 90%;
        padding: 2rem 1.5rem;
        border-radius: 1.25rem 1.25rem 0 1.25rem;
        box-shadow: 0 0 20px 0 var(--color-shadow);

        @media screen and (max-width: 575.98px) {
          right: 2rem;
          padding: 2rem 1rem;
        }

        p {
          line-height: 1.75rem;
        }
      }

      .ticketInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .avatar {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          background-image: linear-gradient(320deg, var(--color-primary), var(--color-darkgreen));
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 1rem;

          img {
            width: 2rem;
          }
        }

        .userName {
          font-size: 13px;
          color: var(--text-secondry);
          margin-left: 0.75rem;
        }

        .messageDate {
          font-size: 12px;
          color: var(--text-secondry);
          padding-right: 0.75rem;
          border-right: 1px solid #777;
          line-height: 1rem;
        }
      }
    }

    .userTicketBx {
      .messageBx {
        background-color: var(--color-darkgreen);
        color: #fff;
      }
    }

    .addminTicketBx {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .messageBx {
        right: unset;
        left: 3rem;
        border-radius: 1.25rem 1.25rem 1.25rem 0;
        background-color: #02b8bf17;
        color: var(--text-secondry);

        @media screen and (max-width: 575.98px) {
          left: 2rem;
        }
      }

      .ticketInfo {
        flex-direction: row-reverse;

        .avatar {
          margin-right: 1rem;
          margin-left: 0;
        }

        .userName {
          margin-right: 0.75rem;
          margin-left: 0;
        }

        .messageDate {
          padding-left: 0.75rem;
          margin-right: 0;
          border-left: 1px solid #777;
          border-right: 0;
        }
      }
    }

    .sendTicketContent {
      margin: 3rem 0 5rem;

      .fileUpload_input {
        position: relative;
        margin-bottom: 2rem;
      }

      .ticketForm {
        width: 100%;

        textarea {
          min-height: 12rem;
          resize: none;
          margin-bottom: 2rem;
        }

        button {
          width: 10rem;
          height: 3rem;
          border-radius: 2rem;
          text-align: center;
          line-height: 3rem;
          background-color: var(--color-primary);
          border: 0;
          color: var(--color-darkgreen);
          transition: all 500ms;

          &:hover {
            box-shadow: 0 0 15px #ccc;
          }

          @media screen and (max-width: 575.98px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.drop-container {
  position: relative;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px dashed var(--color-primary);
  color: var(--color-darkgreen);
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
  background: #def9f6;
  border-color: var(--color-darkgreen);
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
  color: var(--color-darkgreen);
}

.drop-title {
  color: var(--color-primary);
  font-size: 18px;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file] {
  position: relative;
  width: 350px;
  max-width: 100%;
  height: 3.5rem;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #777;

  &::before {
    content: 'آپلود فایل';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 8.2rem;
    height: 2.925rem;
    border-radius: 0.75rem;
    background: var(--color-primary);
    color: var(--color-darkgreen);
    font-size: 16px;
    top: 0.225rem;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

}

input[type=file]::file-selector-button {
  height: 2.5rem;
  border: none;
  background: #fff;
  padding: 0.625rem 1.2rem;
  margin-right: unset;
  border-radius: 0.75rem;
  color: #fff;
  cursor: pointer;
}

.user_panel_status_content {
  .header_section {
    margin: 2rem 0 4rem;

    .tools_list {
      display: flex;
      justify-content: center;

      .tools_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 4rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color-darkgreen);
        margin-left: 2rem;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        overflow: hidden;
        cursor: pointer;
        transition: all 500ms;

        &:last-child {
          margin-left: 0;
        }

        img {
          width: 100%;
          border-radius: 0.5rem;
          transition: all 500ms;
        }

        &:hover {
          border-color: var(--color-primary);
          -webkit-filter: none;
          filter: none;

          img {
            transform: scale(1.1);
          }
        }
      }

      .active_btn {
        border-color: var(--color-primary);
        -webkit-filter: none;
        filter: none;
      }
    }
  }

  .tools_items {
    margin-bottom: 3rem;

    .tools_box {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 9rem;
      padding: 1rem;
      border-radius: 1rem;
      background-color: #fff;
      box-shadow: 0 0 15px 0 var(--color-shadow);
      margin-bottom: 2rem;

      .tools_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        border-radius: 0.5rem;

        img {
          width: 1.5rem;
        }
      }

      .tools_info {
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        justify-content: center;
        min-width: 5rem;

        .topic {
          font-size: 17px;
          color: #444;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .add_link_form {
    form {
      width: 100%;
      display: flex;
      margin-bottom: 3rem;
      input {
        height: 4rem;
        border-radius: 0 0.25rem 0.25rem 0;
        &:focus {
          box-shadow: unset;
        }
        &::placeholder {
          color: #ced4da;
        }
      }

      button {
        width: 5rem;
        margin-right: -1rem;
        background: var(--color-primary);
        border-radius: 0.25rem 0 0 0.25rem;
        border: 1px solid var(--color-primary);

        &::after {
          content: url(../images/icons/hand-pointer.svg);
          width: 1.5rem;
          margin: auto;
          display: block;
          margin-bottom: -4px;
        }
      }
    }
    .cardMsg{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 0.25rem;
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
      text-align: center;
      background-color: #def9f6;
      color: var(--color-primary);
      .loader {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: inline-block;
        margin-right: 0.5rem;
        border-top: 3px solid var(--color-darkgreen);
        border-right: 3px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border-left: 3px solid var(--color-primary);
        border-bottom: 3px solid transparent;
        animation: rotation 0.5s linear infinite reverse;
      }
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 
    }
    .errorMsg{
      background-color: #ef233e40;
      color: var(--color-red);
    }
  }
}
.googleAcount{
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-shadow);
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
  svg{
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}